/*.modal {
  text-align: center;
  padding: 0!important
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;  
  width: 700px;
  height:400px;
}
.modal-header{
  height:50px;background-color:#E18134;
  color:#ddd;
}
.modal-title{
  margin-top:-10px;
  font-size:16px;
}
.modal-header .close{
  margin-top:-10px;
  color:#fff;
}
.modal-body{
  color:#888;
}
.modal-body p {
  text-align:center;
  padding-top:10px;
}
*/

/* .modal-header{
  /*background-color:#E18134;*/
/* }
::-webkit-scrollbar {
    width: 6px;
	height:6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(200,200,200,1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#e89441;
    -webkit-box-shadow: inset 0 0 6px rgba(90,90,90,0.7);
} */ */

 /* Handle on hover 
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.disablecontent {
    pointer-events: none;
    opacity: 0.4;
} */

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.popover { position: fixed !important; }
#wrapper * {
	max-width:100% !important;
}
@-moz-document url-prefix() {
	div.mx-auto.d-block{
		max-width:100% !important;
		margin: auto !important;
	}
}

/*
#MapTitle div {
	max-width:100% !important;
}
img {
	max-width:100% !important;
}*/

.icon-style  {

	background-color:transparent !important;
}

/* .carousel-content-style {
	font-family: "Comic Sans MS", cursive, sans-serif;
} */

#noteTypingArea * {
	background-color:transparent !important;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}



.mat-accent .mat-slider-thumb {
	background-color:#e89441 !important;
}

