/* You can add global styles to this file, and also import other style files */


@import "~nouislider/distribute/nouislider.min.css";

@import '~@angular/material/prebuilt-themes/indigo-pink.css';




/*
@font-face {
  font-family: 'foundersrooms';
  src: url('./assets/fonts/montserrat-v12-latin-regular.woff')
       url('./assets/fonts/montserrat-v12-latin-regular.ttf')
}

.header-background{
  background-color:#E18134;

}

.brand-color{
  color:#0C2455;
  font-family: foundersrooms;
}


.box {
	border: 1px solid black;
}

hr {
    border: none;
    height: 1px;
    color: #333; 
    background-color: #333;
}
*/
/*
body {
   /font-family: Tahoma, Serif;
    margin:0;
}

md-input-container {
    width: 100%;
}

md-select {
    width: 100%;
}

md-slide-toggle {
    width:100%;
}*/
/*
.container {
	width:90%;
	margin:auto;
}
*/
/*
.full-width {
	width: 100%;
}

.primary {
	color:white;
}
*/